<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <% if defined?(post_link) && post_link %>
      <%= link_to post.body, post_path(post) %>
    <% else %>
      <%= post.body %>
    <% end %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= link_to post.author.name, user_path(post.author) %>
  </p>

  <%= render "likes/like_button", post: post %>
</div>
